<div class="row">
	<h1>Hi, Take a Quiz!</h1>
  <div class="well">
    <div>
      <h4>About the quiz</h4>
      <ul>
        <li>In each level you have different number of points for question</li>
        <li>Each question has a particular time limit</li>
        <li>You can move to the next question when you select an option</li>
        <li>If all levels are completed you can know the result </li>
      </ul>
    </div>
    <a href="/#/quiz" class="btn btn-primary">Take Quiz</a>
  </div>
</div>